*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom,
    #009688 20%,#d8dbd3 20%);
}

.content{
    border: solid rgb(0, 0, 0) 1px;
    display: flex;
    height: 95%;
    width: 70%;
}
.content1{
    background-color: white;
  width: 40%;
}

.content2{
    width: 60%;
 }

nav{
    background-color: #eaeaea;
}

 .nav1{
    display: flex;
    justify-content: space-between;
    height: 90px;

 }

 nav i{
    opacity: 40%;
 }

.utente{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 25px 25px;
   
}

 .utente img{
    width: 100%;
    border-radius: 50px;
 }
 
 .item i {
    padding: 5px;
    margin-top: 25px;
 }

 .notification{
    display: flex;
    background-color: #8edafc;
    padding: 10px;
 }

 .notification p{
    padding-inline: 10px;
 }

 .parol{
    text-decoration: underline;
    opacity: 40%;
 }

 .alarm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
 }

 .alarm i {
    color: grey;
 }

 .search{
    margin-bottom: 20px;
    margin-top: 20px;
 }

 .utentex{
    display: flex;
    border-top: 1px solid rgb(225, 213, 213);
 }

 .scroll-container{
    overflow: scroll;
    height: 370px;

 }

 .nomeutente p{
    opacity: 40%;
 }
 .orariomessaggio{
    opacity: 40%;
 }

 .nav2{
    display: flex;
    justify-content: space-between;
    height: 15%;
    
 }

 .chat{
    display: flex;
    flex-direction: column;
    background-image: url(../vue-boolzapp/img/mine.jpg);
    height: 70%;
    width: 100%;
    padding: 40px;
 }

 .messaggio{
   position: relative;
   max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 2rem 3rem;
    border: solid 1px #d5f9ba;
     background-color:#d5f9ba;
     border-radius: 5px;
 }

.data-messaggio{
   position: absolute;
   font-size: 10px;
   bottom: 1px;
   right: 5px;
   opacity: 40%;
}

 .risposta{
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: flex-start;
     max-width: 300px;
     border: solid 1px rgb(255, 255, 255);
     background-color: white;
     border-radius: 5px 5px;
     
 }

 .footer{
    display: flex;
    align-items: center;
    height: 15%;
    background-color:#f3eeea;
 }
.item2{
    width: 10%;
    padding: 10px;
}
.barra{
    width: 80%;
    padding: 10px;
}

.barra input{
    width: 500px;
}